{% extends 'layout.html' %}
{% block body %}

<div class="parallax-container">
  <div class="parallax"><img src="{{ object.image.url }}" class="desaturate"></div>
</div>
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="details">
          <h2>{{ object.name}}</h2>
          <div class="card-panel teal">

          <p>{{ object.description }}</p>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s12">
        <div class="technology">
          <h2>Technology</h2>
            <ol>
             {% for tech in object.worktechnology_set.all %}
              <li>{{ tech.name }}</li>
             {% endfor %}
            </ol>
        </div>
      </div>
    </div>

    <div class="gallery">
      <div class="row">
        <div class="grid">
          {% for img in object.workimage_set.all %}
          <div class="grid-item">
            <img class="materialboxed" src="{{ img.image.url }}" alt="">
          </div>
          {% endfor %}
        </div>

      </div>
    </div>


  </div>
</div>

{% endblock %}
