{% extends 'layout.html' %}
{% load markdown %}
{% block extrahead %}

{% endblock %}

{% block body %}

<div class="parallax-container">
  <div class="parallax"><img src="{{ object.image.url }}" class="desaturate"></div>
</div>
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="details">
          <h2>
              {{ object.name}}
          {% if user.is_authenticated %}
            <a href="{% url 'works:update' object.slug %}">update</a>
          {% endif %}
          </h2>
          <span>Link: <a href="{{ object.link }}">{{ object.link }}</a></span>
          <div class="card-panel grey lighten-4 ">
            {% autoescape  off %}
          <p>{{ object.description | markdown }}</p>
          {% endautoescape %}
          </div>
        </div>
      </div>
      <div class="col l6 m6 s12">
        <div class="technology">
          <h2>Technology</h2>
            <ol>
             {% for tech in object.techs.all %}
              <li>{{ tech.name }}</li>
             {% endfor %}
            </ol>
        </div>
      </div>
    </div>

    <div class="gallery">
        <div class="row">
            <div id="animated-thumb">
                {% for img in object.images.all %}
                <a href="{{ img.image.url }}"><img src="{{ img.image.url }}" alt=""></a>
                {% endfor %}
            
            </div>
        
        </div>
    </div>


  </div>
</div>

{% endblock %}
