
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ART</title>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat"
rel="stylesheet">

    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <link rel="stylesheet" href="{% static 'works/style.css' %}">

  </head>
  <body>
    <header>
      <div class="container">

        <h1 class="center"><a href="{% url 'home' %}" class="teal-text lighten-1">ART</a></h1>

      </div>
    </header>
      {% block body %}
      {% endblock %}
      <div class="fixed-action-btn click-to-toggle">
        <a class="btn btn-large red">
          <i class="large material-icons left">menu</i>Menu
        </a>
        <ul>
          <li>
            <a href="{% url 'home' %}" class="btn-floating btn-large">

              <i class="material-icons left">home</i>
            </a>
          </li>

          <li>
            <a href="{% url 'contact:me' %}" class="btn-floating btn-large">
              <i class="material-icons">email</i>
            </a>
          </li>
        </ul>

      </div>


<div class="parallax-container">
  <div class="parallax">
    <h1>HOLA</h1>
    <img src="https://i.imgur.com/SBgNYXh.png" alt="">
  </div>
</div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
     <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
     	<script src="https://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
     {% block jscript %}
     {% endblock %}

    <script src="{% static 'js/clever_red.js' %}"></script>

  </body>
</html>
