{% extends 'layout.html' %}

{% block body %}

<div class="container">



    <form action="{% url 'contact:contact' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}


        <div class="input-field">
            {{ form.name.errors }}
            <i class="material-icons prefix">account_circle</i>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="input-field">
            {{ form.email.errors }}
            <i class="material-icons prefix">email</i>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="input-field">
            {{ form.message.errors }}
            <i class="material-icons prefix">mode_edit</i>
            {{ form.message }}
            {{ form.message.label_tag }}
        </div>


    <button type="submit" class="btn">Submit</button>

    </form>
</div>

{% endblock %}
