{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <header >
    <div class="me center">
        <img src="{{ me.image.url }}" class="responsive-image">
    <h4>{{ me.user.first_name }} {{ me.user.last_name }}</h4>
    <h6>{{ me.short_description }}</h6>
  </div>

  </header>
  <div class="contact-details center">
      <p>{{ me.user.email }}</p>

      <p>{{ me.phone }}</p>
  </div>
</div>


  <div class="card-panel about-me teal lighten-4 ">
    <div class="container">

      <h5>About me</h5>
      <p class="flow-text">
        {{ me.long_description | linebreaks }}      
      </p>

    </div>
  </div>
  <div class="form">
    <div class="container">
      <h2>Get in touch</h2>

    <form action="{% url 'contact:contact' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}


        <div class="input-field">
            {{ form.name.errors }}
            <i class="material-icons prefix">account_circle</i>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="input-field">
            {{ form.email.errors }}
            <i class="material-icons prefix">email</i>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="input-field">
            {{ form.message.errors }}
            <i class="material-icons prefix">mode_edit</i>
            {{ form.message }}
            {{ form.message.label_tag }}
        </div>


    <button type="submit" class="btn">Submit</button>

    </form>
    </div>
  </div>

{% endblock %}
