{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <header >
    <div class="center">
    <h4>{{ me.user.first_name }} {{ me.user.last_name }}</h4>
    <h6>{{ me.short_description }}</h6>
  </div>

  </header>
  <div class="contact-details center">
      <p>{{ me.user.email }}</p>
      <p>{{ me.phone }}</p>
  </div>
</div>


  <div class="card-panel about-me teal lighten-4 ">
    <div class="container">

      <h5>About me</h5>
      <p class="flow-text">
        {{ me.long_description | linebreaks }}      
      </p>

    </div>
  </div>
  <div class="form">
    <div class="container">
      <h2>Get in touch</h2>

        <form action="{% url 'contact:contact' %}" method="post">
          {% csrf_token %}

        {{ form }}
      <button type="submit" class="btn">Submit</button>

        </form>
    </div>
  </div>

{% endblock %}
